body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

article img{
    z-index: 0;
    position: relative;
}

article div{
    z-index: 1;
    position: absolute;
    bottom: 1rem;
}

#studio{
    width: 100%;
}

#open{
    width: 100%;
}

#art img{
    width:100% !important;
    height:200.95px !important;
}

aside img{
    position:static;
    z-index: 0;
}

aside div{
    z-index: 1;
    position:absolute ;
    left: 22rem;
    top: 356rem;
}

footer{
    position: static;
    z-index: 0;
}